In [7]:
docA="The cat sat on my face"
docB="The dog sat on my bed"

In [8]:
bowA=docA.split(" ")
bowB=docB.split(" ")

In [9]:
bowB

['The', 'dog', 'sat', 'on', 'my', 'bed']

In [10]:
wordSet=set(bowA).union(set(bowB))

In [11]:
wordSet

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

In [17]:
wordDictA=dict.fromkeys(wordSet,0)
wordDictB=dict.fromkeys(wordSet,0)

In [19]:
wordDictA

{'bed': 0, 'cat': 1, 'on': 1, 'face': 1, 'The': 1, 'sat': 1, 'my': 1, 'dog': 0}

In [20]:
for word in bowA:
    wordDictA[word]+=1
for word in bowB:
    wordDictB[word]+=1

In [21]:
wordDictA

{'bed': 0, 'cat': 2, 'on': 2, 'face': 2, 'The': 2, 'sat': 2, 'my': 2, 'dog': 0}

In [22]:
import pandas as pd

In [23]:
pd.DataFrame([wordDictA,wordDictB])

   The  bed  cat  dog  face  my  on  sat
0    2    0    2    0     2   2   2    2
1    2    2    0    2     0   2   2    2

In [24]:
def computeTF(wordDict, bow):
    tfDict={}
    bowCount=len(bow)
    for word, count in wordDict.items():
        tfDict[word]=count/float(bowCount)
    return tfDict

In [25]:
tfBowA=computeTF(wordDictA,bowA)
tfBowB=computeTF(wordDictB,bowB)

In [26]:
tfBowA

{'bed': 0.0,
 'cat': 0.3333333333333333,
 'on': 0.3333333333333333,
 'face': 0.3333333333333333,
 'The': 0.3333333333333333,
 'sat': 0.3333333333333333,
 'my': 0.3333333333333333,
 'dog': 0.0}

In [27]:
tfBowB

{'bed': 0.3333333333333333,
 'cat': 0.0,
 'on': 0.3333333333333333,
 'face': 0.0,
 'The': 0.3333333333333333,
 'sat': 0.3333333333333333,
 'my': 0.3333333333333333,
 'dog': 0.3333333333333333}

In [28]:
def computeIDF(docList):
    import math
    idfDict={}
    N=len(docList)
    
    idfDict=dict.fromkeys(docList[0].keys(),0)
    for doc in docList:
        for word, val in doc.items():
            if val>0:
                idfDict[word]+=1
    for word, val in idfDict.items():
        idfDict[word]=math.log10(N/float(val))
    return idfDict

In [29]:
idfs=computeIDF([wordDictA,wordDictB])

In [30]:
def computeTFIDF(tfBow,idfs):
    tfidf={}
    for word, val in tfBow.items():
        tfidf[word]=val*idfs[word]
    return tfidf

In [31]:
tfidfBowA=computeTFIDF(tfBowA,idfs)
tfidfBowB=computeTFIDF(tfBowB,idfs)

In [32]:
import pandas as pd
pd.DataFrame([tfidfBowA,tfidfBowB])

   The       bed       cat       dog      face   my   on  sat
0  0.0  0.000000  0.100343  0.000000  0.100343  0.0  0.0  0.0
1  0.0  0.100343  0.000000  0.100343  0.000000  0.0  0.0  0.0

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
docA="the car is driven on the road"
docB="the truck is driven on the highway"

In [36]:
tfidf=TfidfVectorizer()

In [37]:
response=tfidf.fit_transform([docA,docB])

In [38]:
feature_names=tfidf.get_feature_names()
for col in response.nonzero()[1]:
    print(feature_names[col],'-',response[0,col])

the - 0.6043795515372431
car - 0.42471718586982765
is - 0.30218977576862155
driven - 0.30218977576862155
on - 0.30218977576862155
road - 0.42471718586982765
the - 0.6043795515372431
is - 0.30218977576862155
driven - 0.30218977576862155
on - 0.30218977576862155
truck - 0.0
highway - 0.0